# React
node_modules/
build/
dist/


# Spring Boot
target/
*.log
*.class
*.jar
startup*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local env
.env
frontend/.env
backend/.env
backend/.mvn/
